*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%; // 10px
  font-family: "Poppins", sans-serif;

  @media screen and (max-width: 400px) {
    font-size: 42.5%; // 9.2px
  }
}
