:root {
  --color-orange: rgb(230, 99, 47);

  --color-white: rgb(255, 255, 255);

  --color-gray: rgb(128, 128, 128);

  --color-gray-light: rgb(231, 231, 231);

  --color-gray-rgba: rgba(100, 100, 100, 0.4);

  --color-btn: rgb(1, 168, 168);

  --color-shadow: rgba(0, 0, 0, 0.5);

  --border-normalize: 0.8rem;
}
